@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-primary-yellow: #DFA408;
  --color-primary-blue: #001948;
  --color-primary-white:#f0f0f0;
  --font-title: "EB Garamond", Sans-serif;
  --font-paragraph: 'Poppins', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

